/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .title-icon {
    width: 60px;
    height: 100%;
} */

:root {
  --color_one: #352e51;
  --color_two: #21c58e;
  --color_three: #2b2e42;
  --color_four: #34b6e3;
  --color_five: #e14846;
  --nav_bar: #ffffff;
  --logo_color: #02cd68;
  --new_color: #121319;
  --start-now-color: #d1df56;
}

html {
  background-color: var(--color_three);
  font-family: "Poppins", sans-serif;
  /* background: url("/assets/wavebg.svg") no-repeat bottom center; */
  height: 100%;
  width: 100%;
  
}


.margin-index{
  margin-top: 200px;
}

.tile-color {
  color: var(--color_four);
}

.card_title {
  color: var(--nav_bar);
}

.info-box {
  background-color: var(--color_four);
}

.box-bg {
  background-color: var(--new_color);
}

.logo {
  color: #e805f6;
}

.home-title {
  color: var(--nav_bar);
}

.navbar {
  background-color: #2b2e42;
}

.button{
  background: none;
  border: none;
}

.home-text {
  color: var(--nav_bar);
}
/* .card-bg{
    background-color: var(--nav_bar);
} */

.login {
  background-color: #19c78b;
}

.task{
  color: var(--logo_color);
}

.go{
  color: #02cd68;
}


.nav_icon {
  color: var(--nav_bar);
}

.newjournal-svg {
  width: 200px;
}

.container-left img,
.container-right form,
.container-right .container-errors {
  width: 75%;
  height: auto;
}

.container-left,
.container-right {
  display: flex !important;
  justify-content: center;
  /* align-items: center; */
}

.container-right {
  flex-direction: column;
}

@media screen and (min-width: 769px), print {
  .column.is-6,
  .column.is-6-tablet {
    flex: none;
    width: 50%;
  }
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: 100px;
}



.tiles {
  margin-bottom: 25px;
}

.footer__wave {
  display: block;
  width: 100%;
  height: 100px;
  max-height: 100px;
  margin: 0;
  bottom: 0;
  position: fixed;
  left: 0px;
  float: left;
}
